<div class="title is-1">Список контактов</div>
<table class="table is-hoverable is-bordered is-fullwidth contacts-table">
	<thead>
		<th class="name">Имя</th>
		<th class="phone">Телефон</th>
		<th class="controls"></th>
	</thead>
	<tbody class="contacts-list"></tbody>
</table>
<div class="contacts-add-container"></div>