<td class="name">
	{{#__state.isEditable}}
	<input type="text" class="input is-small {{#__state.error.name}}is-danger{{/__state.error.name}}" name="name" value="{{ __state.name }}">
	{{/__state.isEditable}}
	{{#__state.error.name}}
	<span class="error">{{ __state.error.name }}</span>
	{{/__state.error.name}}
	{{^__state.isEditable}}
	{{ name }}
	{{/__state.isEditable}}
</td>
<td class="phone">
	{{#__state.isEditable}}
	<input type="text" class="input is-small {{#__state.error.phone}}is-danger{{/__state.error.phone}}" name="phone" value="{{ __state.phone }}">
	{{/__state.isEditable}}
	{{#__state.error.phone}}
	<span class="error">{{ __state.error.phone }}</span>
	{{/__state.error.phone}}
	{{^__state.isEditable}}
	{{ phone }}
	{{/__state.isEditable}}
</td>
<td class="controls">
	{{#__state.isEditable}}
	<button class="button is-primary is-small save-changes">Сохранить</button>
	<button class="button is-warning is-small cancel-edit">Отменить</button>
	{{/__state.isEditable}}

	{{^__state.isEditable}}
	<button class="button is-info is-small enable-edit">Редактировать</button>
	<button class="button is-danger is-small delete-contact">Удалить</button>
	{{/__state.isEditable}}
</td>