<form class="contacts-form">
	<div class="form-title">Добавить контакт</div>
	<div class="contacts-form-inner">
		<div class="field-container">
			<input type="text" class="input {{#__state.error.name}}is-danger{{/__state.error.name}}" name="name" value="{{ __state.name }}" placeholder="Имя">
			{{#__state.error.name}}
			<span class="error">{{ __state.error.name }}</span>
			{{/__state.error.name}}
		</div>
		<div class="field-container">
			<input type="text" class="input {{#__state.error.phone}}is-danger{{/__state.error.phone}}" name="phone" value="{{ __state.phone }}" placeholder="Телефон">
			{{#__state.error.phone}}
			<span class="error">{{ __state.error.phone }}</span>
			{{/__state.error.phone}}
		</div>
		<button class="button is-primary" type="submit">Добавить</button>
	</div>
	<div class="note">
		Телефон может состоять только из цифр, тире (возможен “+” как первый символ)
	</div>
</form>