* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.contacts-app {
	padding-top: 20px;
	max-width: 900px;
	margin: 0 auto;
}

.contacts-app .error {
	font-size: 11px;
	color: red;
}

.contacts-table th {
	background: #d4ebff;
}

.contacts-table th.name,
.contacts-table th.phone,
.contacts-table td.name,
.contacts-table td.phone {
	width: 37%;
}

.contacts-table th.controls,
.contacts-table td.controls {
	width: 26%;
	text-align: right;
}

.contacts-form-inner {
	display: flex;
}

.field-container {
	width: 100%;
}

.contacts-form {
	background: #ededed;
	padding: 20px;
	border-radius: 4px;
}

.contacts-form .form-title {
	display: block;
	margin-bottom: 10px;
}

.field-container {
	margin-right: 10px;
}

.contacts-form .note {
	font-size: 14px;
	margin: 10px 0 0;
	padding: 10px 20px;
	background: #dbdbdb;
}

.contacts-form .note ul {
	list-style: disc;
	padding-left: 40px;
}